<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="it.alwe.sensorify">
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.ambient_temperature"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.relative_humidity"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.step_detector"
        android:required="false" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8581305580729785~3214722401" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="locked"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.HumidityActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.TempActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.SoundMeterActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.LinearAccActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.GravityActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.RotationVectorsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.GPSActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.PedometerActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.OrientationActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.ProximityActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.AccelerometerActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.MagnetometerActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.BarometerActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.GyroscopeActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.LuminosityActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.ConnectionActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.SystemActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.BatteryActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".sensors.HeartbeatActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".CreditsActivity"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MissingSensorsActivity"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="locked" />
    </application>

</manifest>